$screen-xs: 480px;
$screen-sm: 720px;
$screen-md: 990px;
$screen-lg: 1170px;

$color-primary: #fff;
$color-secondary: #000;
$color-brown: #b88b58;

$menu-collapse-breakpoint: $screen-lg;

$font-family-main: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;